<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Configurar Médicos</h4>
                <input #input (keyup)="searchDoctor(input.value)" type="text" class="form-control" placeholder="Buscar Hospital">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-primary text-center">
            <strong>Cargando</strong>
            <br/>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br/>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Médicos registrados (<small>{{total}}</small>)</h4>
                <button [routerLink]="['/doctor','new']" class="btn btn-primary btn-add-hospital"><i class="fa fa-plus"></i> Crear Hospital</button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doctor of doctors">
                            <td class="w70"><img [src]="doctor.image | image:'doctor'" class="w50 img-circle pointer"></td>
                            <td>{{ doctor.name }}</td>
                            <td>{{ doctor.hospital.name }}</td>
                            <td>
                                <button class="btn btn-primary" [routerLink]="['/doctor', doctor._id ]"><i class="fa fa-edit"></i></button>&nbsp;
                                <button class="btn btn-danger" (click)="deleteHospital(doctor)"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>